 <%= simple_form_for [ @influencer ] do |f| %>
     <div class="d-flex flex-wrap justify-content-center align-items-center w-100 mt-5" style="margin-bottom:15px">
      <div class="w-50 px-2">
        <%= f.input :lifestyle %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :sport %>
      </div>    
      <div class="w-50 px-2">
        <%= f.input :food %>
      </div>          
      <div class="w-50 px-2">
        <%= f.input :gaming %>
      </div>      
      <div class="w-50 px-2">
        <%= f.input :healthy %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :travel %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :music %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :fashion %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :art %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :technology %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :humour %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :beauty %>
      </div>
    </div>     
     
      <%= f.input :price_per_story%>
      <%= f.input :price_per_photo%>
      <%= f.input :price_per_video%>
      <%= f.input :price_per_live%>
      <%= f.submit "Edit", class: "btn" %>
      <% end %>
