<div style="padding-top: 10vh; width: 100%;">
  <h2 class="text-blue font-weight-bold text-center">Let's find <span class="text-gradient font-weight-bold">INFLUENCERS !</span></h2>
  <% if @campaign.company.user == current_user %>
    <%= link_to campaign_path(@campaign), style: 'text-decoration: underline;', class: "mx-3" do %>
      Back to my campaign
    <% end %>
  <% end %>

     <%= form_tag campaign_influencers_path, method: :get do %>
     <div class="searchinfluencers d-flex justify-content-center" style="margin-top: 15px; margin-left:16px">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control p-2 rounded",
        placeholder: "What are you looking for ?"
      %>
      <%= submit_tag "FIND ME", class: "btn-search rounded-right" %>
    <% end %>
    </div>

  <div class="d-flex flex-row justify-content-between align-items-center flex-wrap mx-3  mt-5">
    <% @sorted_influencers.each_with_index do |influencer, index| %>
      <div class="card_gray justify-content-center mb-4 " style="width: 30%; position:relative;">
         <% if index < 3 %>
         <div style="position:absolute; top:22px; left:30px; text-align:center;">
         <li><i class="fi-xnsusl-star-solid" style="color:yellow;"></i></li>
         <li style="color:yellow; text-shadow: 10px 10px 10px 0px black">Best match</li>
         </div>
         <% end %>
      <div class="flex-rox justify-content-center;" style="text-align:center; width: 100%; height:226px; background:-webkit-linear-gradient(130deg, #ea70cf 0%, #62dafb 100%)">
          <img src="<%= influencer.instagram_pp ? influencer.instagram_pp : "https://images.unsplash.com/photo-1573483204500-c18954bd33bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" %>" alt="" class="influencer-avatar" style="margin-top:20px">
          <div class="influencer-infos">
            <h4 style="text-transform: capitalize;"><%= link_to influencer.user_name, influencer_path(influencer)%></h4>
            <% if @verifed == "1" %>
              <i class="fas fa-certificate"></i>
            <% end %>
          </div>


        <div class="influencer-stats" style="position:absolute; top:175px; left:15px">

          <div class="stat-card-1">

            <h4><%= number_with_delimiter(influencer.followers.to_i, locale: :fr) %></h4>

            <p style="color:$blue_new;">followers</p>
          </div>
          <div class="stat-card-2">
            <h4 style="margin-bottom: 0;"><%= influencer.engagement %>%</h4>
            <p style="color:$blue_new;">engagement</p>
          </div>
        </div>
        </div>

        <div class="filters" style="margin-top:30px">
        <% if influencer.lifestyle == true %>
          <i class="far fa-check-square mr-2"><p> Lifestyle</p></i>
        <% end %>
        <% if influencer.sport == true %>
          <i class="far fa-check-square mr-2"><p> Sport</p></i>
        <% end %>
        <% if influencer.food == true %>
          <i class="far fa-check-square mr-2"><p> Food</p></i>
        <% end %>
        <% if influencer.gaming == true %>
          <i class="far fa-check-square mr-2"><p> Gaming</p></i>
        <% end %>
        <% if influencer.healthy == true %>
          <i class="far fa-check-square mr-2"><p> Healthy</p></i>
        <% end %>
        <% if influencer.travel == true %>
          <i class="far fa-check-square mr-2"><p> Travel</p></i>
        <% end %>
        <% if influencer.music == true %>
          <i class="far fa-check-square mr-2"><p> Music</p></i>
        <% end %>
        <% if influencer.fashion == true %>
          <i class="far fa-check-square mr-2"><p> Fashion</p></i>
        <% end %>
        <% if influencer.art == true %>
          <i class="far fa-check-square mr-2"><p> Art</p></i>
        <% end %>
        <% if influencer.technology == true %>
          <i class="far fa-check-square mr-2"><p> Technology</p></i>
        <% end %>
        <% if influencer.humour == true %>
          <i class="far fa-check-square mr-2"><p> Humor</p></i>
        <% end %>
        <% if influencer.beauty == true %>
          <i class="far fa-check-square mr-2"><p> Beauty</p></i>
        <% end %>
        </div>
        <div class="influencer-footer">
          <% influencer.set_rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <%= link_to 'Book', influencer_bookings_path(influencer, campaign_id: @campaign.id), method: :post, class: 'button_blue shadow_button_blue my-3' %>
      </div>
    <% end %>
  </div>
</div>
