<div class="container p-5">
  <div class="container-companies">

   <%= simple_form_for [ @influencer ] do |f| %>
        <%= f.input :first_name, placeholder: "Gilles",
                    input_html: { class:"input-comp"} %>
        <%= f.input :last_name, placeholder: "Bouleau",
                    input_html: { class:"input-comp"} %>
        <%= f.input :user_name, placeholder: "Use your Instagram username",
                    input_html: { class:"input-comp"} %>

    <div class="w-50 px-2" style="margin-top:15px; margin-bottom:-36px">
    Choose your topic(s):
    </div>
<div class="d-flex flex-wrap justify-content-center align-items-center w-100 mt-5" style="margin-bottom:15px">
      <div class="w-50 px-2">
        <%= f.input :lifestyle %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :sport %>
      </div>    
      <div class="w-50 px-2">
        <%= f.input :food %>
      </div>          
      <div class="w-50 px-2">
        <%= f.input :gaming %>
      </div>      
      <div class="w-50 px-2">
        <%= f.input :healthy %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :travel %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :music %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :fashion %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :art %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :technology %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :humour %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :beauty %>
      </div>
    </div>








        <%= f.input :price_per_story,
                    input_html: { class:"input-comp"} %>
        <%= f.input :price_per_photo,
                    input_html: { class:"input-comp"} %>
        <%= f.input :price_per_video,
                    input_html: { class:"input-comp"} %>
        <%= f.input :price_per_live,
                    input_html: { class:"input-comp"} %>
        <div class="d-flex justify-content-center">
          <div class="btn gradient-pink-button mt-1">
          <%= f.submit "Create", class: "btn" %>
          </div>
        </div>
        <% end %>

  </div>
</div>
