<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<div class="container">
    <div class="wrapper">
      <div class="element-1">
        <div class="row">
            <div class="col-md-4">
                <div class="card user-card">
                    <div class="card-header">
                        <h5>Profile</h5>
                    </div>
                    <div class="card-block">
                        <div class="user-image">
                            <img src="<%= @influencer.instagram_pp %>" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600 m-t-25 m-b-10"><%= @influencer.user_name %></h6>
                                <div class="filters-show">
                                  <% if @influencer.lifestyle == true %>
                                    <i class="far fa-check-square mr-2"><p> Lifestyle</p></i>
                                  <% end %>
                                  <% if @influencer.sport == true %>
                                    <i class="far fa-check-square mr-2"><p> Sport</p></i>
                                  <% end %>
                                  <% if @influencer.food == true %>
                                    <i class="far fa-check-square mr-2"><p> Food</p></i>
                                  <% end %>
                                  <% if @influencer.gaming == true %>
                                    <i class="far fa-check-square mr-2"><p> Gaming</p></i>
                                  <% end %>
                                  <% if @influencer.healthy == true %>
                                    <i class="far fa-check-square mr-2"><p> Healthy</p></i>
                                  <% end %>
                                  <% if @influencer.travel == true %>
                                    <i class="far fa-check-square mr-2"><p> Travel</p></i>
                                  <% end %>
                                  <% if @influencer.music == true %>
                                    <i class="far fa-check-square mr-2"><p> Music</p></i>
                                  <% end %>
                                  <% if @influencer.fashion == true %>
                                    <i class="far fa-check-square mr-2"><p> Fashion</p></i>
                                  <% end %>
                                  <% if @influencer.art == true %>
                                    <i class="far fa-check-square mr-2"><p> Art</p></i>
                                  <% end %>
                                  <% if @influencer.technology == true %>
                                    <i class="far fa-check-square mr-2"><p> Technology</p></i>
                                  <% end %>
                                  <% if @influencer.humour == true %>
                                    <i class="far fa-check-square mr-2"><p> Humor</p></i>
                                  <% end %>
                                  <% if @influencer.beauty == true %>
                                    <i class="far fa-check-square mr-2"><p> Beauty</p></i>
                                  <% end %>
                                </div>

                        <hr>
                        <p class="text-muted m-t-15">Reference prices</p>
                        <div class="prices d-flex">
                          <li><%= @influencer.price_per_photo %>€</li>
                          <li><%= @influencer.price_per_video %>€</li>
                          <li><%= @influencer.price_per_live %>€</li>
                          <li><%= @influencer.price_per_story %>€</li>
                        </div>
                        <ul class="list-unstyled activity-leval">
                              <li class="active">Photo</li>
                              <li class="active">Video</li>
                              <li class="active">Live</li>
                              <li class="active">Story</li>
                        </ul>
                        <div class="bg-c-green counter-block m-t-10 p-20">
                            <div class="row">
                                <div class="col-4 p-0">
                                    <p class="p-stats">following</p>
                                    <p><%= number_with_delimiter(@following.to_i, locale: :fr) %></p>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="p-stats">followers</p>
                                    <p><%= number_with_delimiter(@influencer.followers.to_i, locale: :fr) %></p>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="p-stats">posts</p>
                                    <p><%= number_with_delimiter(@uploads.to_i, locale: :fr) %></p>
                                </div>
                            </div>
                        </div>
                        <p class="m-t-15 text-muted"><%= @influencer.description %></p>
                        <hr>
                        <div class="row justify-content-center user-social-link">
                            <div class="col-auto"><a href="#!"><i class="fab fa-facebook text-facebook"></i></a></div>
                            <div class="col-auto"><a href="#!"><i class="fab fa-twitter text-twitter"></i></i></a></div>
                            <div class="col-auto"><a href="<%= "https://www.instagram.com/#{@influencer.user_name}/" %>" target="blank"><i class="fab fa-instagram text-insta"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element-2 col-md-8">
              <div class="row">
                <div class="col-md-6 p-3">
                    <div class="panel metric-card card_gray">
                        <div class="panel-body w-100 d-flex align-items-center">
                            <div class="bio-chart text-center">
                              <div><%= @influencer.engagement %>%</div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="red">Average engagement</h4>
                                <p>Engagement shows how actively involved with your content your audience is.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3 ">
                    <div class="panel metric-card card_gray">
                        <div class="panel-body w-100 d-flex align-items-center">
                            <div class="bio-chart text-center">
                              <div><%= @av_likes %></div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="terques">Average likes</h4>
                                <p>Engaged consumers interact with brands through likes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3 ">
                    <div class="panel metric-card card_gray">
                        <div class="panel-body w-100 d-flex align-items-center">
                            <div class="bio-chart text-center">
                            <div><%= @av_comments %></div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="green">Average comments</h4>
                                <p>Engaged consumers interact with brands through comments</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3 ">
                    <div class="panel metric-card card_gray">
                        <div class="panel-body w-100 d-flex align-items-center">
                            <div class="bio-chart text-center">
                            <div><%= @top_posts[0] %>%</div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="green">Engagement on top post</h4>
                                <p>Engagement rate on most permormant post for <%= @influencer.user_name %></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="feed">
                <% @influencer.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, crop: :fill, height: 270, width: 240, class: "margin-photo"  %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>


