<h3> Influencer profil</h3>
<p>Followers: <%= @influencer.followers %> </p>
<p>Followings : <%= @following %></p>
<img src="<%= @influencer.instagram_pp %>" alt="">
<p>Uploads : <%= @uploads %> </p>
<% if @verified == 1 %>
<%= Verified %>
<% end %>
<p>Av likes : <%= @av_likes %> </p>
<p>Av comments : <%= @av_comments %> </p>
<p>Enagement on top posts :</p>
<% @top_posts.each do |post| %>
<%= post %>
<% end %>
<% @last_9_pics.each do |pic| %>
<img src="<%= pic[:url] %>" alt="">
<%= pic[:likes] %>
<%= pic[:comments] %>
<% end %>
<% @influencer.photos.each do |photo| %>
  <%= cl_image_tag photo.key[0], height: 300, width: 400, crop: :fill %>
<% end %>
<ul>
<li>Username: <%= @influencer.user_name %></li>
<li>Description: <%= @influencer.description %></li>
<li><%= @influencer.price_per_story %>€ per story</li>
<li><%= @influencer.price_per_photo %>€ per photo</li>
<li><%= @influencer.price_per_video %>€ per video</li>
<li><%= @influencer.price_per_live %>€ per live</li>
</ul>
<% if @influencer.user == current_user %>
<%= link_to 'Edit my profile', edit_influencer_path(@influencer) %>
<%= link_to 'See my prestations', solicitations_path(@influencer) %>
<% end %>
