<div class="w-100 d-flex">
  <div class="w-75">
    <%= @uploads %>
    <%= @following %>
    <%= @influencer.followers %>
    <%= @influencer.engagement %>
    <%= @av_likes %>
    <%= @av_comments %>
    <% @top_posts.each do |post| %>
      <%= post %>
    <% end %>
    <%= @influencer.price_per_story %>
    <%= @influencer.price_per_photo %>
    <%= @influencer.price_per_video %>
    <%= @influencer.price_per_live %>
  </div>
  <div class="w-25">
    <div class="avatar">

    </div>
    <div class="name">
      <h2><%= @influencer.fullname %></h2>
      <% if @verified == 1 %>
       <%= Verified %>
      <% end %>
    </div>
    <div class="description">
      <%= @influencer.description %>
    </div>
    <div class="filters">

    </div>
    <div class="location">
      <p>Washington, États-Unis</p>
    </div>
    <div class="book">

    </div>
  </div>
</div>




<% if @influencer.user == current_user %>
<%= link_to 'Edit my profile', edit_influencer_path(@influencer) %>
<%= link_to 'See my prestations', solicitations_path(@influencer) %>
<% end %>



