<h3>My influencer profil</h3>
<% @influencer.photos.each do |photo| %>
  <%= cl_image_tag photo.key[0], height: 300, width: 400, crop: :fill %>
<% end %>
<ul>
<li>Username: <%= @influencer.user_name %></li>
<li>Description: <%= @influencer.description %></li>
<li><%= @influencer.price_per_story %>€ per story</li>
<li><%= @influencer.price_per_photo %>€ per photo</li>
<li><%= @influencer.price_per_video %>€ per video</li>
<li><%= @influencer.price_per_live %>€ per live</li>
</ul>
<%= link_to 'Edit my profile', edit_influencer_path(@influencer) %>
<%= link_to 'See my prestations', solicitations_path(@influencer) %>

