<div class="container-navbar">
  <div class="container-navbar-middle">
    <div class="list-links">
      <ul class="link">
        <% if current_user && current_user.company.present? %>
          <li class="one"><%= link_to "home", root_path%></li>
          <li class="two"><%= link_to "My campaigns", campaigns_path(current_user)%></li>
          <li class="three"><%= link_to "New campaign", new_company_campaign_path(current_user.company)%></li>
          <hr />
        <% elsif current_user && current_user.influencer.present? %>
          <li>Welcome <%= current_user.influencer.user_name %> !</li>
          <li class="one"><%= link_to "home", root_path%></li>
          <li class="two"><%= link_to "My profil", influencer_path(current_user.influencer)%></li>
          <!-- <hr /> -->
        <% else%>
          <li>Welcome on Izireach !</li>
          <hr />
        <% end %>
          <!-- <hr /> -->
      </ul>
    </div>
  </div>

  <div class="container-burger">
    <div class="navbar justify-content-center">
      <% if user_signed_in? %>
        <div class="dropdown">
          <div class="burger-btn" id="navbarDropdown", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; width: 25px; stroke: #a3d8f4; stroke-width: 3; overflow: visible;"><g fill="none" fill-rule="nonzero"><path d="m2 16h28"></path><path d="m2 24h28"></path><path d="m2 8h28"></path></g></svg>
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <div class="current-user">
              <% if current_user && current_user.company.present? %>
                <p><%= current_user.company.name.capitalize %></p>
              <% elsif current_user && current_user.influencer.present? %>
                <p><%= current_user.influencer.user_name.capitalize %></p>
              <% else %>
                <p>Welcome!</p>
              <% end %>
            </div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
      <li class="nav-item dropdown">
        <div class="burger-btn" id="navbarDropdown", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; width: 25px; stroke: #a3d8f4; stroke-width: 3; overflow: visible;"><g fill="none" fill-rule="nonzero"><path d="m2 16h28"></path><path d="m2 24h28"></path><path d="m2 8h28"></path></g></svg>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
        </div>
      <% end %>
<!--         </ul>
      </div> -->
    </div>

  </div>

</div>

