<div class="banner">
  <div class="banner-content">
    <div class="w-50 d-flex justify-content-center flex-column align-items-left">
      <div class="pb-5">
        <h1>IZIREACH</h1>
        <p style="font-size: 20px; color: white;">Helping brands & influencers find the perfect match!<br>
        The marketing tool that will change your life. </p>
      </div>


      <% if current_user %>
        <% if current_user.company== nil && current_user.influencer == nil %>
          <%= link_to new_company_path, class:"mx-1 d-flex" do %>
            <div class="px-5 mb-3 py-2 bg-white text-center hover-btn-white" style="font-size: 24px; border: 2px solid white; border-radius: 30px; box-shadow: rgba(255, 105, 135, 0.3) 0px 3px 5px 2px;">
              I am a company
            </div>
          <% end %>
            <%= link_to new_influencer_path, class:"mx-1 d-flex" do %>
            <div class="px-5 mb-3 py-2 bg-white text-center hover-btn-white" style="font-size: 24px; border: 2px solid white; border-radius: 30px; box-shadow: rgba(255, 105, 135, 0.3) 0px 3px 5px 2px;">
              I am an influencer
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class:"mx-1 d-flex" do %>
          <div class="px-5 mb-3 py-2 bg-white text-center hover-btn-white" style="font-size: 24px; border: 2px solid white; border-radius: 30px; box-shadow: rgba(255, 105, 135, 0.3) 0px 3px 5px 2px;">
           Sign in
          </div>
        <% end %>
            <%= link_to new_user_registration_path, class:"mx-1 d-flex" do %>
          <div class="px-5 mb-3 py-2 text-center hover-btn-transparent" style="font-size: 20px; border: 2px solid white; border-radius: 30px; color: white;">
           Sign up
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="w-50">
      <%= image_tag 'iphone.png', style: 'padding-top: 60px; height: 90%; transform: rotate(-32deg)' %>
    </div>
  </div>
</div>


<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1573483204500-c18954bd33bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="First slide">
      <div class="centered">"We got the best selection of influencers within seconds!<br> I never thought digital makeketing was easier and more convenenient"</div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1577481759269-f01ade4b3256?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1496147195884-6ab7f7c0a027?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
