<div style="padding-top: 10vh; z-index: 10;">
  <h2 class="text-blue font-weight-bold text-center"><span class="text-gradient font-weight-bold">MY COMPANY</span></h2>
  <div class="card_gray mx-3 mt-5 h-100">
    <div class="d-flex justify-content-left w-100" style="height: 400px;">
      <div class="w-50 border_radius_img_left">
        <%= cl_image_tag @company.photo.key, crop: :fill, class: 'img_left_company' %>
      </div>
      <div class="w-50 px-3 py-3 d-flex flex-column justify-content-center" style="background: white">
        <h2 class="text-uppercase"><%= @company.name %></h2>
        <div class='d-flex justify-content-left align-items-left flex-column py-2'>
          <div class="d-flex justify-content-left align-items-center">
            <%= image_tag "question.png", style: "width: 30px; height: 30px;"%>
            <h4 class="pl-3 py-2 my-0">Who we are</h4>
          </div>
          <div>
            <p class="mb-0"><%= @company.description %></p>
          </div>
        </div>
        <div class='d-flex justify-content-left align-items-left flex-column py-2'>
          <div class="d-flex justify-content-left align-items-center">
            <%= image_tag "heart.png", style: "width: 30px; height: 30px;"%>
            <h4 class="pl-3 py-2 my-0">Our values</h4>
          </div>
          <div>
            <p class="mb-0"><%= @company.values %></p>
          </div>
        </div>
        <div class="box-2">
          <%# if @company.user == current_user %>
            <%#= link_to new_company_campaign_path(@company), class: 'button_blue shadow_button_blue my-3' do %>
              <!-- Create a campaign -->
            <%# end %>
          <%# end %>
          <% if @company.user == current_user %>
           <%= link_to company_campaigns_path(current_user.company), class: 'button_blue shadow_button_blue my-3' do %>
              All my campaigns
            <% end %>
          <% end %>
          <% if @company.user == current_user %>
            <%= link_to edit_company_path(@company), class: 'button_blue shadow_button_blue my-3' do %>
              Edit my profile
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
