<div class="container">

<div class="box-1">
  <div class="box-1-header">
    <div class="img-company-show">
      <%= cl_image_tag @company.photo.key, height: 200, width: 200, crop: :fill, class: 'img-company-show' %>
    </div>
      <h2><%= @company.name %></h2>
  </div>
  <div class="box-1-body">
    <div class="box-1-description">
      <h4>Who we are</h4>
      <p><%= @company.description %></p>
    </div>
    <div class="box-1-description">
      <h4>Our values</h4>
      <p><%= @company.values %></p>
    </div>
  </div>
</div>

<div class="box-2">
    <% if @company.user == current_user %>
      <%= link_to new_company_campaign_path(@company), class: "box-3" do %>
        <div>
           New campaign
        </div>
      <% end %>
    <% end %>

    <% if @company.user == current_user %>
     <%= link_to company_campaigns_path(current_user.company), class: "box-3" do %>
        <div>
           My campaigns
        </div>
      <% end %>
    <% end %>

    <% if @company.user == current_user %>
    <%= link_to edit_company_path(@company), class: "box-3" do %>
      <div>
        My profile
      </div>
      <% end %>
    <% end %>
</div>


</div>
