<div>
  <h2 class="text-blue font-weight-bold">All <span class="text-gradient font-weight-bold">my campaigns</span></h2>
  <%= link_to "Back", company_path(@current_user.company) %>
  <% @campaigns = current_user.company.campaigns %>
      <% @campaigns.each do |campaign| %>
        <% if campaign.status == "pending" %>
        <h3>Pending <%= pluralize(@campaigns.where(status: "pending").count, "campaign") %></h3>
        <%= render 'shared/card_body_campaign', campaign: campaign %>
        <% end %>
      <% end %>
    <% current_user.company.campaigns.each do |campaign| %>
      <% if campaign.status == "ongoing" %>
        <h3>Ongoing <%= pluralize(@campaigns.where(status: "ongoing").count, "campaign") %></h3>
        <%= render 'shared/card_body_campaign', campaign: campaign %>
      <% end %>
    <% end %>
    <% current_user.company.campaigns.each do |campaign| %>
      <% if campaign.status == "passed" %>
      <h3>Passed <%= pluralize(@campaigns.where(status: "passed").count, "campaign") %></h3>
      <%= render 'shared/card_body_campaign', campaign: campaign %>
    <% end %>
  <% end %>
</div>
