<div style="padding-top: 10vh;">
  <h2 class="text-blue font-weight-bold text-center">All <span class="text-gradient font-weight-bold">my campaigns</span></h2>
  <%= link_to "Back to my campany's profile", company_path(@current_user.company), style: "text-decoration: underline;", class: "mx-3" %>
  <% @campaigns = current_user.company.campaigns %>
  <h6 class="mx-3">Pending <%= pluralize(@campaigns.where(status: "pending").count, "campaign") %> / Ongoing <%= pluralize(@campaigns.where(status: "ongoing").count, "campaign") %> / Passed <%= pluralize(@campaigns.where(status: "passed").count, "campaign") %></h6>
    <% if @campaigns.where(status: "pending").count > 0 %>
      <div class="d-flex justify-content-left flex-wrap flex-row mt-5">
        <% @campaigns.each do |campaign| %>
          <% if campaign.status == "pending" %>
            <%= render 'shared/card_body_campaign', campaign: campaign, card_width: "w-30-percent" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if @campaigns.where(status: "ongoing").count > 0 %>
      <div class="d-flex justify-content-left flex-wrap flex-row mt-5">
        <% @campaigns.each do |campaign| %>
          <% if campaign.status == "ongoing" %>
              <%= render 'shared/card_body_campaign', campaign: campaign, card_width: "w-30-percent" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if @campaigns.where(status: "passed").count > 0 %>
      <div class="d-flex justify-content-left flex-wrap flex-row mt-5">
        <% @campaigns.each do |campaign| %>
          <% if campaign.status == "passed" %>
            <%= render 'shared/card_body_campaign', campaign: campaign, card_width: "w-30-percent" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>
