<div style="padding-top: 10vh; width:100%;">
  <h2 class="text-blue font-weight-bold text-center pb-5">All <span class="text-gradient font-weight-bold">MY CAMPAIGNS</span></h2>
  <%= link_to "Back to my campany's profile", company_path(@current_user.company), style: "text-decoration: underline; background:white", class: "mx-3" %>
  <% @campaigns = current_user.company.campaigns %>
  
   <div class="w-100 mt-5">  
     <div class="tab-campaign"> 
        <nav class="nav nav-tabs w-100" style="justify-content:center;">  
          <a class="nav-item nav-link mr-2 mb-3 active" href="#p1" data-toggle="tab"> <%= @campaigns.where(status: "ongoing").count %> ongoing</a> 
          <a class="nav-item nav-link mb-3" href="#p2" data-toggle="tab"><%= @campaigns.where(status: "finished").count %> finished</a>
        </nav>
      </div>

    <div class="tab-content w-100">  
      <div class="tab-pane active" id="p1">
      <% if @campaigns.count == 0 %>
        <div style="text-align: center; margin-top: 30px;"><%= "No campaign yet." %>
          <%= link_to "Create your first campaign !", new_company_campaign_path(@current_user.company), style: "text-decoration: underline; background:white", class: "mx-3" %>
        <% end %>
        </div>
        <% if @campaigns.where(status: "ongoing").count > 0 %>
          <div class="d-flex justify-content-left flex-wrap flex-row mt-5 align-items-start">
            <% @campaigns.each do |campaign| %>
              <% if campaign.status == "ongoing" %>
                <%= render 'shared/card_body_campaign', campaign: campaign, card_width: "w-30-percent", card_height: "400px" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div> 

      <div class="tab-pane" id="p2">
        <% if @campaigns.where(status: "finished").count > 0 %>
          <div class="d-flex justify-content-left flex-wrap flex-row mt-5">
            <% @campaigns.each do |campaign| %>
              <% if campaign.status == "finished" %>
                <%= render 'shared/card_body_campaign', campaign: campaign, card_width: "w-30-percent", card_height: "400px" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
   </div>
  </div>
</div>