<div style="padding-top: 10vh;">
  <h2 class="text-blue font-weight-bold text-center pb-5">All <span class="text-gradient font-weight-bold">MY CAMPAIGNS</span></h2>
  <%= link_to "Back to my campany's profile", company_path(@current_user.company), style: "text-decoration: underline; background:white", class: "mx-3" %>
  <% @campaigns = current_user.company.campaigns %>
  <h6 class="mx-3" style="background:white; width:490px">Ongoing <%= pluralize(@campaigns.where(status: "ongoing").count, "campaign") %> / Passed <%= pluralize(@campaigns.where(status: "passed").count, "campaign") %></h6>
    
  <div class="tab">
    <button class="tablinks" onclick="clickHandle(event, 'ongoing')">Ongoing</button>
    <button class="tablinks" onclick="clickHandle(event, 'finished')">Finished</button>
  </div>

  <div id="ongoing" class="tabcontent">
    <% if @campaigns.where(status: "ongoing").count > 0 %>
      <div class="d-flex justify-content-left flex-wrap flex-row mt-5 align-items-start">
        <% @campaigns.each do |campaign| %>
          <% if campaign.status == "ongoing" %>
            <%= render 'shared/card_body_campaign', campaign: campaign, card_width: "w-30-percent", card_height: "400px" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="finished" class="tabcontent">
    <% if @campaigns.where(status: "finished").count > 0 %>
      <div class="d-flex justify-content-left flex-wrap flex-row mt-5">
        <% @campaigns.each do |campaign| %>
          <% if campaign.status == "passed" %>
            <%= render 'shared/card_body_campaign', campaign: campaign, card_width: "w-30-percent", card_height: "400px" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

<script>
function clickStatus(evt, campaignStatus) {
  let i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

   tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
   document.getElementById(campaignStatus).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

</div>
