<div class="card_gray p-3 my-5 h-100">
  <h2 class="text-blue font-weight-bold">Describe <span class="text-gradient font-weight-bold">your campaign</span></h2>
  <%= simple_form_for [ @company, @campaign ] do |f| %>
    <div class="d-flex flex-wrap justify-content-center align-items-center w-100 mt-5">
      <div class="w-50 px-2">
        <%= f.input :name, placeholder: "campaign's name", class: 'w-100' %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :target, placeholder: "campaign target", class: 'w-100' %>
      </div>
    </div>

    <div class="w-50 px-2" style="margin-top:15px; margin-bottom:-80px">
    Choose your topic(s):
    </div>
    
    <div class="d-flex flex-wrap justify-content-center align-items-center w-100 mt-5">

    <div class="d-flex flex-wrap justify-content-center align-items-center w-100 mt-5" style="margin-bottom:15px">
      <div class="w-50 px-2">
        <%= f.input :lifestyle %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :sport %>
      </div>    
      <div class="w-50 px-2">
        <%= f.input :food %>
      </div>          
      <div class="w-50 px-2">
        <%= f.input :gaming %>
      </div>      
      <div class="w-50 px-2">
        <%= f.input :healthy %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :travel %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :music %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :fashion %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :art %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :technology %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :humour %>
      </div>
      <div class="w-50 px-2">
        <%= f.input :beauty %>
      </div>
    </div>
  </div>


    <div class="px-2">
      <%= f.input :description, placeholder: "detailed information about your campaign"%>
    </div>
    <div class="px-2 mx-0">
      <%= f.input :occurs_at, placeholder: "date", class: 'mx-0' %>
    </div>
    <div class="d-flex flex-wrap justify-content-center align-items-center w-100">
      <div class="w-25 px-2">
        <%= f.input :number_of_stories, placeholder: "# of stories", class: 'w-100'%>
      </div>
      <div class="w-25 px-2">
        <%= f.input :number_of_photos, placeholder: "# of photos", class: 'w-100'%>
      </div>
      <div class="w-25 px-2">
        <%= f.input :number_of_videos, placeholder: "# of videos", class: 'w-100'%>
      </div>
      <div class="w-25 px-2">
        <%= f.input :number_of_lives, placeholder: "# of lives", class: 'w-100'%>
      </div>
    </div>
    <div class="px-2">
      <%= f.input :photo, as: :file %>
    </div>
    <div class="button_blue mx-auto my-3">
      <%= f.submit "Create", class: "remove_submit_style" %>
    </div>
  <% end %>
</div>
