<div style="padding-top: 10vh;">
  <h2 class="text-blue font-weight-bold text-center"><span class="text-gradient font-weight-bold">My campaign</span></h2>
  <%= link_to "Back to my campaign's list", company_campaigns_path(current_user.company), style: "text-decoration: underline;", class: "mx-3" %>
  <div class="d-flex justify-content-left flex-row mt-5">
    <%= render 'shared/card_body_campaign', campaign: @campaign %>
    <div class="d-flex flex-column justify-content-start align-items-left pl-4 w-100">
      <div class="w-100 card_gray mx-3 mb-5 text-left py-5 px-3">
        <div class="w-100 text-left">
          <h3>My influencers requests</h3>
        </div>
        <% @campaign.bookings.each do |booking| %>

          <div class="d-flex flex-row justify-content-between align-items-center w-100 border-bottom px-3 py-1">

            <div class="d-flex flex-column align-items-center justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="<%= booking.influencer.instagram_pp %>" alt="" style="width: 80px; height: 80px;">
                <li>@<%= booking.influencer.user_name %></li>
              </div>

              <%= link_to "Influencer's profile", influencer_path(booking.influencer), style: "text-decoration: underline;", class: "mx-3" %>
            </div>

            <div class="d-flex flex-row">
              <div class="<%= "pdg" if booking.status == "pending" %><%= "accp" if booking.status == "accepted" %><%= "ref" if booking.status == "refused" %> px-4 mx-5"><%= booking.status %></div>

              <% if booking.status == "pending" || booking.status == "refused" %>
                  <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure ?' } do %>
                    <i class="fas fa-trash" style="font-size: 25px;"></i>
                  <% end %>
              <% end %>

              <% if booking.status == "accepted" %>
                <div class="request-col" style="width:150px">
                  <%= link_to 'leave a review', new_booking_review_path(booking)%>
                  <%= link_to 'Contract', booking_path(booking, format: :pdf), target: '_blank' %>
                </div>
              <% end %>
            </div>

          </div>


        <% end %>
          <%= link_to campaign_influencers_path(@campaign) do %>
            <div class="button_blue shadow_button_blue mt-5 mb-3">
              Find influencers
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="w-100 card_gray mx-3 mb-5 text-left py-5 px-3">
      <div class="w-100 text-left">
        <h3>My dashboard</h3>
      </div>
    </div>

  </div>
</div>
