<!DOCTYPE html>
<html>
  <head>
    <title>IziReach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <div style="min-height: 100vh;">
    <%= render 'shared/navbar' %>
    <div class="<%= @home ? 'small-container' : 'large-container' %>">
      <% unless @home %>
      <div style="position: fixed; height: 100vh; width: 100vw; z-index: -1;">
        <div style="width: 100vw; height: 100vh; position: relative;">
          <div style="position: absolute; top: 12vh; left: 8vw; font-size: 20px; transform: rotate(320deg);">💙🌏💙</div>
          <div style="position: absolute; bottom: 10vh; left: 5vw; font-size: 20px;">🌸🛍</div>
          <div style="position: absolute; top: 30vh; right: 45vw; font-size: 20px; transform: rotate(60deg);">🌈✈️🏝</div>
          <div style="position: absolute; top: 18vh; right: 21vw; font-size: 20px; transform: rotate(10deg);">🎮💫</div>
          <div style="position: absolute; bottom: 22vh; right: 2vw; font-size: 20px; transform: rotate(40deg);">🍭</div>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer_white' if @home %>
    <%= render 'shared/footer' if !@home %>
    </div>
  </body>
</html>
