<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <title><%= meta_title %></title>
      <meta name="description" content="<%= meta_description %>">

      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:title" content="<%= meta_title %>">
      <meta name="twitter:description" content="<%= meta_description %>">
      <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:image:src" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <div style="min-height: 100vh;">
    <%= render 'shared/navbar' %>
    <div class="<%= @home ? 'small-container' : 'large-container' %>">
      <% unless @home %>
      <div style="position: fixed; height: 100vh; width: 100vw; z-index: -1;">
        <div style="width: 100vw; height: 100vh; position: relative;">
          <div style="position: absolute; top: 12vh; left: 8vw; font-size: 20px; transform: rotate(320deg);"><i class="fas fa-thumbs-up" style="color:#0c18a0"></i>💙</div>
          <div style="position: absolute; top: 2vh; left: 20vw; font-size: 20px; transform: rotate(10deg);"><i class="fas fa-camera-retro" style="color:$blue_new"></i></div>          
          <div style="position: absolute; top: 5vh; right: 15vw; font-size: 20px;"><i class="fas fa-hashtag color:$blue_new"></i></div>          
          <div style="position: absolute; bottom: 10vh; left: 2vw; font-size: 20px;">🌸🛍</div>
          <div style="position: absolute; top: 30vh; right: 45vw; font-size: 20px; transform: rotate(60deg);">🌈✈️🏝</div>
          <div style="position: absolute; top: 18vh; right: 21vw; font-size: 20px; transform: rotate(10deg);">🎮💫</div>
          <div style="position: absolute; bottom: 22vh; right: 2vw; font-size: 20px; transform: rotate(40deg);">🍭</div>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer_white' if @home %>
    <%= render 'shared/footer' if !@home %>
    </div>
  </body>
</html>
